body{
  position:absolute;
   width:100%;
   margin: 0, auto;
  background-color:rgb(245,245,245);
}



.header{ /*header box */
  position: relative;
  background-color:#0a192f;
  padding: 1% 1%;
  min-width: 100%;




}
#icon{
  float: left;
  margin-left: 2%;

}
#title{ /*title in header */
  padding-left: 1%;
  color: white	;
  font-size: 30px;
  text-decoration: none;
}
#title:hover{
  color: #52a39e;
  cursor: pointer;
}

.expenses-section,.income-section{
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}


.options{/*options to select income or expense */
  margin-bottom: 10%;
  margin-top: 2%;
}




#income-btn{ /*button options to select income or expense */
  display: block;
  margin-left: 5%;
  margin-bottom: 1%;
  border-radius: 5px;
  max-width:95%;
  font-size: 25px;
  background-color: #00bfff;
  color: white;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  radius-top:1%;
  text-align: center;
}

.expense-btn{
  display: block;
  margin-left: 5%;
  float: left;
  margin-bottom: 1%;
  background-color: #00bfff;
  border: none;
  border-radius: 5px;
  width:30%;
  color: white;
  text-align: center;

}



#income-btn:hover, .expense-btn:hover{
  background-color: #0a192f;
  color:#52a39e;
  cursor: pointer;
}
 .option-btn img{
  display: block;
  margin-left: auto;
  margin-right: auto;

}




.content{/*container of income, expense*/
  position: fixed;
  display: block;
  margin-left: 5%;
  width:90%;
  height:80%;
  margin-top: -20%;
  margin-bottom: 5%;
  visibility: hidden;
  background-color: white;
  border-radius: 4%;
  color:#00bfff;



}
.close{
  float: right;
  font-size: 40px;
  margin-right: 5%;
}
.close{
  cursor: pointer;
  color: navy;
}
.content button{ /*add button found in each container*/
  border-radius: 2%;
  border: none;
  background-color:#00bfff;
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-right: 3%;
  margin-left: 2%;
  font-size: 20px;
  width:30%;

}
.content button:active{/*add button when clicked */
  background-color: navy;
}
.content select{ /*selector option to choose time period for income, expense*/
  margin-top: 2%;
  margin-left: 50%;
}
#submit{/*submit button to take you to summary page*/
  width:80%;
  display: block;
  margin-left: 10%;
  margin-right: auto;
  background-color: white;
  background-color:#00bfff;
  color: white;
  font-size: 40px;
  border: none;
}
#submit:hover{
  color:#0a192f;
}
#submit:active{ /*submit when clicked*/
  background-color:#0a192f;
  color:white;

}
select{
  display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: white;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 40%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #00bfff;


}

.content h4,input{ /*h4 and input containers in each content box*/
  margin-left: 2%;
  width:30%;


}
.content input{/*input containers in each content box*/
  display: block;
    border: none;
  border-radius: 2%;
  background-color:rgb(245,245,245);
}


  /* removes arrows in input boxes */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

  /* summary page(div) */
#summary{
  visibility: hidden;

}


#funds, #summary_title{  /* summary title and funds text*/
  text-align:left;
  margin-left: 25%;
  color:#0a192f;
  margin-bottom: 5%;
}
#forward_button{
  border:none;
  background-color: rgb(245,245,245);
  color: #00bfff;
  font-size: 20px;
  float: right;
  visibility: hidden;
}

#back_button{
  border:none;
  background-color: rgb(245,245,245);
  color: #00bfff;
  font-size: 30px;
  width:10%;


}
#back_button:hover,#forward_button:hover{
  color:#0a192f;



}

.chart{ /* summary charts*/

  background-color:rgb(245,245,245);
  margin-left: auto;
  margin-right: auto;
}

.footer { /* footer section */
   position: fixed;
   left: 0;
   top: auto;
   bottom: 0;
   width: 100%;
   background-color: #DCDCDC	;
   color: white;
   padding-left:2%;

}
#gh{ /* github icon */
  width:50px;
  height:50px;
}
#gh:hover{
    background-color:#52a39e;
}
@media only screen and (max-width: 600px) {
.expense-btn{
  margin-left: 5%;
  margin-bottom: 1%;
  border: none;
  width:90%;
  color: white;
  text-align: center;

}
.expense-btn h1{
font-size: 30px;
}
#income-btn{
  margin-left: 5%;
  width: 90%;
}
#submit{
  width: 90%;
  float:left;
  margin-left: 5%;


}
.content{/*container of income, expense*/

  min-height:80%;
  margin-top: -50%;



}
.content h4{
  font-size: 15px;

}


}
@media only screen and (min-width: 600px) {
.expense-btn{
  margin-left: 3%;
  margin-bottom: 1%;
  border: none;
  font-size: 25px;
  width:45%;
  color: white;
  text-align: center;

}
.expense-btn h1{
font-size: 25px;
}
#income-btn{
  margin-left: 3%;
  width: 93%;
}
#submit{
  width: 93%;
  float:left;
  margin-left: 3%;


}
.content{/*container of income, expense*/

  min-height:80%;
  margin-top: -27%;



}
.content h4{
  font-size: 20px;

}



}
@media only screen and (min-width: 1024px) {
.expense-btn{
  margin-left: 2%;
  margin-bottom: 1%;
  border: none;
  font-size: 25px;
  width:30%;
  color: white;
  text-align: center;

}
.expense-btn h1{
font-size: 100%;
}
#income-btn{
  margin-left: 2%;
  width: 94%;
}
#submit{
  width: 94%;
  float:left;
  margin-left: 2%;


}
.expense-btn img{
height:150px;
width:150px;
}
.content{/*container of income, expense*/

  min-height:80%;
  margin-top: -20%;



}
.content h4{
  font-size: 20px;

}

}
