body{
  background-color:rgb(245,245,245);
}

.header{ /*header box */

  position:relative;
  width:100%;
  background-color:white;
  height:10%;
  padding-top: 1%;
  padding-bottom: 1%;
}
#title{ /*title in header */
  padding:2%;
  color: #00bfff	;
  padding-left: 3%;
  font-size: 30px;
}
#title:hover{ /*title in header:hovered */
  color:navy;
  text-decoration: none;
}


.options{/*options to select income or expense */
  margin-bottom: 10%;
}




.options input[type=button]{ /*button options to select income or expense */
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 1%;
  background-color: #00bfff;
  border: none;
  border-radius: 5px;
  width:60%;
  font-size: 25px;
  color: white;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}


.content{/*container of income, expense*/
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 1%;
  width:60%;
  height:0px;
  visibility: hidden;
  background-color: white;
  border-radius: 2%;
  color:#00bfff;


}
.content button{ /*add button found in each container*/
  border-radius: 2%;
  border: none;
  background-color:#00bfff;
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-right: 3%;
  margin-left: 2%;
  font-size: 20px;
  width:30%;

}
.content button:active{/*add button when clicked */
  background-color: navy;
}
.content select{ /*selector option to choose time period for income, expense*/
  margin-top: 2%;
  margin-left: 50%;
}
#submit{/*submit button to take you to summary page*/
  width:25%;
  background-color: white;
  color:#00bfff;
}
#submit:active{ /*submit when clicked*/
  background-color: navy;
  color:white;

}

.content h4,input{ /*h4 and input containers in each content box*/
  margin-left: 2%;
  width:30%;


}
.content input{/*input containers in each content box*/
  display: block;
    border: none;
  border-radius: 2%;
  background-color:rgb(245,245,245);
}


  /* removes arrows in input boxes */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

  /* summary page(div) */
#summary{
  visibility: hidden;
}


#funds, #summary_title{  /* summary title and funds text*/
  text-align:left;
  margin-left: 25%;
  color:#00bfff;
  margin-bottom: 5%;
}
.chart{ /* summary charts*/

  background-color:rgb(245,245,245);
  margin-left: auto;
  margin-right: auto;
}
.footer { /* footer section */
   position: fixed;
   left: 0;
   top: auto;
   bottom: 0;
   width: 100%;
   background-color: #DCDCDC	;
   color: white;
   padding-left:2%;

}
#gh{ /* github icon */
  width:50px;
  height:50px;
}
